@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Pacifico|Roboto+Mono:500,700&display=swap');

:root {
    --color-main: #01A171;
    --line-color: #5cddff;
    --color-big-text: #1e387c;

}

/* 
#E028A2,
#F0086B  */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color: #ff55b1;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    color: var(--color-main);
    background-color: #333;
    padding: 2rem;
    overflow-x: hidden;
    cursor: url(../img/svg/cursor.svg),
        auto;
    background-image: url('https://images.pexels.com/photos/1727280/pexels-photo-1727280.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200');
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    z-index: 3;
    background-color: #f7f7f7;
    width: 60vw;
    overflow-x: hidden;
}

div.nav-main ul {
    list-style: none;
    display: flex;
}

div.nav-main ul li:not(:last-of-type) {
    margin-right: 1.5rem;
}

div.br {
    width: 1px;
    height: 14px;
    align-self: center;
    background-color: var(--color-main);
}

div.nav-main ul li a {
    text-decoration: none;
    color: var(--color-main);
    font-size: 1.3rem;
    margin-right: 2rem;

}

div.nav-main ul li {
    display: flex;

}


div.nav-main ul li.no-mr {
    margin-right: 0;
}

.header-logo {
    color: var(--color-main);
    font-family: 'Pacifico',
        cursive;
}

.header-logo a {
    color: var(--color-main);
    text-decoration: none;
}

div#hero {
    display: flex;
}

div#main-hero {
    background-image: url('https://images.pexels.com/photos/1370545/pexels-photo-1370545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: auto;
    position: relative;
    margin-top: -6rem;
}


div.call-circle {
    padding: .5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(to right, #E028A2, #F0086B);
    color: #fff;
    font-size: 10px;
    display: flex;
    position: absolute;
    top: 4rem;
    left: 4rem;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    transition: all ease-in-out .4s;
}

div.call-circle:hover {
    box-shadow: none;
    transform: scale(1.05);
    background: linear-gradient(to left, #FFB07E, #ff55b1);
}

div.call-circle:active {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
}

div.call-circle h2 {
    align-self: center;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
}

div.call-circle h2 a {
    color: #f7f7f7;
    text-decoration: none;
}


div.hero-main-text {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    padding: 8rem 8rem 14rem 6rem;
}

div.hero-sup-text {
    width: 35%;
    color: #222;
    margin-right: 20rem;

}

div.hero-sup-text h1 {
    color: #222;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}


div.hero-sup-text p {
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, #E028A2, #F0086B);
    padding: .8rem 2.2rem;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    transition: all ease-in-out .2s;
}





.btn:hover {
    box-shadow: none;
    transform: scale(1.1);
    background: linear-gradient(to left, #FFB07E, #ff55b1);
}

.btn:active {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
}


div.hero-sub-text {
    width: 45%;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: 'Roboto Mono',
        monospace;
    line-height: 1.3;
    transform: rotate(-90deg);

}

div.hero-sub-text h2 {
    margin: 0;
}

div.hero-sup-text h1 {
    animation: moveInBottom 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-delay: 1s;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    80% {
        opacity: .6;
        transform: rotate(30deg);
    }

    100% {
        opacity: 1;
        transform: translateY(-5rem);

    }
}


/* Performers */
.performers-heading {
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Roboto Mono',
        monospace;
    margin-bottom: 2rem;
    color: #f7f7f7;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    transition: all ease-in-out 0.5s
}

li.cards_item:hover {
    transform: translateY(2rem)
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.cardd {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
}

.card_content {
    padding: 1.5rem 2rem;
    background: linear-gradient(to right, #E028A2, #F0086B);
    height: 12rem;
}

.card_image img {
    width: 100%;
}

.card_title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}



.card-user_details {
    display: flex;
    justify-content: space-between;
}

section#performers {
    padding: 5rem 0;
    background-image: url('https://images.pexels.com/photos/1370545/pexels-photo-1370545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1800');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.main {
    max-width: 1200px;
    margin: 0 auto;
}



/* Special Artisrt */

section#special-artist {
    display: flex;
    padding: 5rem 10rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    background-attachment: fixed;
}


div.special-artist-container {
    width: 23rem;
    height: 28rem;
    background: linear-gradient(to right bottom, #E028A2, #F0086B);
    position: relative;
}



div.special-artist-container img {
    width: 25rem;
    height: 28rem;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 2.2rem;
    left: 2.2rem;
}

.special-artist-bio {
    width: 40%;
}

.special-artist-bio h1 {
    font-size: 5rem;
    font-weight: 800;
    font-family: 'Roboto Mono',
        monospace;
}


.special-artist-bio p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}



/* Gallery */

section#gallery {
    background: url('https://images.pexels.com/photos/1537636/pexels-photo-1537636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1800') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
}


section#gallery h1 {
    text-align: center;
    font-size: 5.6rem;
    font-weight: 900;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.411),
        -3px 2px 3px rgba(0, 0, 0, 0.705);
    color: #fff;
    text-transform: uppercase;
}

div.custom-grid {
    margin-top: -4rem;

    padding: 6rem 0;
    display: grid;
    grid-template-columns: 25rem 25rem 25rem 25rem;
    grid-template-rows: 22rem 22rem;
    justify-content: center;
    gap: 1rem;
    overflow-x: hidden;
}

.grid-items img {
    width: 25rem;
    height: 22rem;
    object-fit: cover;
    border: 4px solid #f7f7f7;
    opacity: .8;
    box-shadow: 4px -1px 4px rgba(0, 0, 0, .5),
        -4px 1px 4px rgba(0, 0, 0, .5);
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
}


.grid-items img:hover {
    opacity: 1;
    transform: translateY(1rem);
}


/* Tickets */

section.pricing-plan {
    padding: 4rem 12rem;
}

div.pricing-plan-heading {
    line-height: 1.2;
    letter-spacing: 2px;
    color: #fff;

}

section.pricing-plan h1 {
    font-weight: 800;
    font-size: 4.3rem;
    color: #fff;

}

section.pricing-plan h2 {
    font-weight: 900;
    font-size: 4.5rem;
    color: #fff;
}


section.pricing-plan p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}

div.price-card-container {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.card {
    background: linear-gradient(to right top, #E028A2, #F0086B);
    width: 32rem;
    height: auto;
    margin-top: 2rem;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) .4s;
}

div.card:not(:last-of-type) {
    margin-right: 1rem;
}

div.card:hover {
    box-shadow: 4px -1px 4px rgba(0, 0, 0, .5),
        -4px 1px 4px rgba(0, 0, 0, .5);
    transform: translateY(-1.5rem);
}



div.company-card--top:hover,
div.starter-card--top:hover,
div.advanced-card--top:hover {
    background: linear-gradient(to right, #E028A2, #F0086B);
    cursor: pointer;
}


div.card ul {
    list-style: none;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6rem;
    line-height: 3;
    padding: 2rem;
    color: #fff;
}

.card h3 {
    font-weight: 400;
    font-size: 3.8rem;
    color: #fff;
    text-transform: uppercase;

}

.card h3:first-of-type {
    font-size: 3rem;
}

.btn-card {
    outline: none;
    border: 1.5px dotted #fff;
    border-radius: 13rem;
    padding: 1.3rem 6rem;
    color: #fff;
    background: linear-gradient(to right top, #E028A2, #F0086B);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out .4s;
    margin-bottom: 2rem;
}


.btn-card:hover {
    transform: translateY(-1rem)
}


/* Testimonial */

#testimonial {
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-text {
    color: #fff;
    width: 40%;
    margin-left: 4rem;
    font-size: 1.4rem;
}

.testimonial-text hr {
    border-color: var(--line-color);
}


.testimonial-text h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.testimonial-text p {
    padding-bottom: 1.4rem;

}

.testimonial-img img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4rem;
}


/* Sponsors */

#sponsors {
    padding: 8rem 2rem;
    text-align: center;
    background-color: #292c2f41;
    color: var(--line-color);
    box-shadow: 0 -1px 0 var(--line-color);
    font-family: 'Roboto Mono', monospace;

}

#sponsors h2 {
    font-size: 5.2rem;
}

#sponsors p {
    font-size: 3rem;
}

#sponsors img {
    width: 12rem;
    margin-bottom: 4rem;
}


#sponsors img:not(:last-of-type) {
    margin-right: 2rem;
}


/* Contact */

/* section#contact {
    padding: 8rem 1rem;
    text-align: center;
}

#contact a {
    font-size: 1.3rem;
    display: inline-block;
}

#contact a:first-of-type {
    margin-right: 1rem;
}


#contact h2 {
    border: 2px dotted var(--line-color);
    color: var(--line-color);
    display: inline-block;
    padding: .5rem 5rem;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, .4);
    margin: 0;
    font-size: 6.5rem;
    line-height: 1.1;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) .2s;
}

#contact h2:hover {
    transform: translateY(-1rem);
}

#contact p {
    font-size: 2
    rem;
    margin-bottom: 1.4rem;
    color: var(--line-color);
} */


/* Fixed Time */

div.time {
    position: fixed;
    top: 85vh;
    left: 85vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    word-spacing: -2px;
    letter-spacing: -1px;
    line-height: 1.2;
    background-color: #f7f7f7;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0 5px 2px rgba(0, 0, 0, 0.25);
}



/* Footer */

.footer-distributed {
    background-color: #292c2f41;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    padding-top: 10rem;
    border-top: 1px solid var(--line-color);
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 12px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #fff;
    text-decoration: none;
    ;
}

div.footer-dev {
    text-align: center;
}

div.footer-dev div {
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s;

}

div.footer-dev div:hover {
    transform: scale(1.08);
}

footer a {
    color: #fff;
    text-transform: uppercase;

}

.dev-link {
    border: 1px solid #fff;
    padding: .3rem 2rem;
    border-radius: 1rem;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}









/* Media queries */

@media screen and (max-width: 1024px) {
    .card h3:first-of-type {
        font-size: 2.5rem;
    }

    .card h3 {
        font-weight: 400;
        font-size: 3rem;
        color: #fff;
        text-transform: uppercase;
    }

    .btn-card {
        font-size: 1.2rem;
    }

    div.custom-grid {
        grid-template-columns: 23rem 23rem 23rem 23rem;
        grid-template-rows: 22rem 22rem;
    }

    .grid-items img {
        width: 23rem;
        height: 22rem;
    }
}






@media screen and (max-width: 848px) {
    nav {
        display: block;
    }

    div.nav-main ul {
        padding: inherit;
    }

    div#main-hero {
        margin-top: -8.6rem;
    }

    div.hero-sub-text h2 {
        width: 20rem;
        font-size: 3rem;
        line-height: 1.3;
    }

    div.hero-sup-text {
        width: 48%;

        margin-right: 16rem;
    }

    div.hero-sub-text {
        margin-top: 8rem;
    }

    div.custom-grid {
        grid-template-columns: 22rem 22rem 22rem;
        grid-template-rows: auto;
    }

    .grid-items img {
        width: 22rem;
        height: 18rem;
    }
}






@media screen and (max-width: 768px) {
    div.hero-main-text {
        padding: 6rem 6rem;
    }

    div.hero-sup-text {
        width: 48%;
        margin-right: 10rem;
    }

    div.hero-sup-text a {
        padding: .4rem 1.8rem;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    }

    section#special-artist {
        padding: 0;
    }

    div.price-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.card:not(:last-of-type) {
        margin-right: 0;
    }

    div.pricing-plan-heading {
        text-align: center;
    }

    div.time {
        top: 85vh;
        left: 80vw;
        font-size: 1.5rem;

    }

    .footer-distributed .footer-center i.fa-envelope {
        margin-left: 2.8rem;
    }

}








@media screen and (max-width: 700px) {

    div.nav-main ul li:not(:last-of-type) {
        margin-right: .5rem;
    }

    div.nav-main ul li a {

        margin-right: 1rem;
    }

    div.hero-sub-text {
        margin-top: 19rem;
        width: 20%;

    }

    body {
        padding: 1.5rem;
    }

    div.hero-main-text {
        padding: 4rem 4rem;
    }

    nav {

        padding: 1rem 4rem;

    }

    .testimonial-img img {
        margin-right: 1.5rem;
    }

    .testimonial-text {
        margin-right: 1.5rem;

    }

    div.custom-grid {
        grid-template-columns: 18rem 18rem 18rem;
        grid-template-rows: auto;
    }

    .grid-items img {
        width: 18rem;
        height: 18rem;
    }

}



@media screen and (max-width: 550px) {

    div.hero-sub-text {
        width: 5rem;
    }

    div.hero-main-text {
        padding: 4rem 2rem;
    }

    nav {
        padding: 1rem 2rem;
    }

    body {
        padding: .4rem;
    }

    section#special-artist {
        flex-direction: column;
        padding: 0 4rem;

    }

    .special-artist-bio {
        width: auto;
        margin: 2.2rem 0;
    }

    .special-artist-bio h1 {
        font-size: 4rem;
    }

    .special-artist-bio p {
        font-size: 1.3rem;
    }

    div.custom-grid {
        grid-template-columns: 16rem 16rem 16rem;
        grid-template-rows: auto;
    }

    .grid-items img {
        width: 16rem;
        height: 14rem;
    }

}



@media screen and (max-width: 425px) {
    body {
        margin: 0;
        padding: 0;
    }

    div#hero {
        flex-direction: column;
        overflow: hidden;
    }

    div.hero-main-text {
        width: 100vw;
    }

    nav {
        width: 100vw;
        overflow-x: hidden;
    }

    div.nav-main ul {
        justify-content: space-between;
    }

    div.hero-sup-text h1 {
        font-size: 3.2rem;
    }

    div.hero-main-text {
        padding: 2rem;
        overflow-x: hidden;

    }

    div.hero-sub-text {
        width: 16rem;
        margin-top: 5rem;
    }

    div#main-hero {
        width: 100vw;
        height: 55rem;
        position: relative;
        margin-top: 0;
        background-position: top;

    }

    div.hero-sub-text {
        width: 10rem;
        margin-bottom: -12rem;
        margin-left: 10rem;

    }

    div.hero-sub-text h2 {
        width: 20rem;
        font-size: 3rem;
        line-height: 1.3;
    }

    h2 {
        display: inline-block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    #contact h2 {
        font-size: 5rem;
        padding: .1rem .8rem;
    }

    #testimonial {
        padding: 2rem 2rem;
        align-items: center;
        flex-direction: column;
    }

    .testimonial-img img {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .testimonial-text {
        width: auto
    }

    #sponsors img:not(:last-of-type) {
        margin-right: 0;
    }

    div.time {
        top: 90vh;
        left: 78vw;
        font-size: 1.2rem;
        padding: .2rem 1rem;
    }

    div.custom-grid {
        grid-template-columns: 17.8rem 17.8rem;
        grid-template-rows: auto;
        gap: .5rem;
    }

    .grid-items img {
        width: 17.8rem;
        height: 14rem;
    }

    footer {
        flex-direction: column;
        padding: 4rem 2rem;
    }

    div.footer-center {
        margin: 2rem 0;

    }
}



@media screen and (max-width: 375px) {
    div.call-circle {
        width: 8rem;
        height: 8rem
    }

    div.call-circle h2 {
        font-size: 1rem;
    }

    section.pricing-plan {
        padding: 2rem;
    }

    #contact a:first-of-type {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #contact a {
        font-size: 1rem;
    }

    div.time {
        top: 92vh;
        left: 73vw;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 360px) {
    div.custom-grid {
        grid-template-columns: 26rem;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .grid-items img {
        width: 26rem;
        height: 20rem;
    }


}


@media screen and (max-width: 320px) {
    .card {
        width: 29rem;
    }

    section.pricing-plan {
        padding: 1rem;
    }

    div.pricing-plan-heading {
        line-height: 1.41;
        letter-spacing: 0;
    }

    #sponsors h2 {
        font-size: 4.2rem;
    }

    div.custom-grid {
        grid-template-columns: 26rem;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .grid-items img {
        width: 26rem;
        height: 20rem;
    }

    .footer-distributed .footer-center i.fa-envelope {
        margin-left: 1.4rem;
    }

    .footer-distributed .footer-center i {
        margin-left: -.8rem;
    }
}