:root {
    --color-main: #01A171;
    --line-color: #5cddff;
    --color-big-text: #1e387c;

}

/* 
#E028A2,
#F0086B  */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color: #ff55b1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    color: var(--color-main);
    background-color: #333;
    padding: 2rem;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    z-index: 3;
    background-color: #f7f7f7;
    width: 60vw;
    overflow-x: hidden;
}

div.nav-main ul {
    list-style: none;
    display: flex;
}

div.nav-main ul li:not(:last-of-type) {
    margin-right: 1.5rem;
}

div.br {
    width: 1px;
    height: 14px;
    border-right: 1.6px solid var(--color-main);
    align-self: center;
}

div.nav-main ul li a {
    text-decoration: none;
    color: var(--color-main);
    font-size: 1.3rem;
    margin-right: 2rem;

}

div.nav-main ul li {
    display: flex;

}


div.nav-main ul li.no-mr {
    margin-right: 0;
}

.header-logo {
    color: var(--color-main);
    font-family: cursive;
}

.header-logo a {
    color: var(--color-main);
    text-decoration: none;
}

div#hero {
    display: flex;
}

div#main-hero {
    background-image: url(../img/person-singing-1370545.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: auto;
    position: relative;
    margin-top: -6rem;
}


div.call-circle {
    padding: .5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(to right, #E028A2, #F0086B);
    color: #fff;
    font-size: 10px;
    display: flex;
    position: absolute;
    top: 4rem;
    left: 4rem;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    transition: all ease-in-out .4s;
}

div.call-circle:hover {
    box-shadow: none;
    transform: scale(1.05);
    background: linear-gradient(to left, #FFB07E, #ff55b1);
}

div.call-circle:active {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
}

div.call-circle h2 {
    align-self: center;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
}

div.call-circle h2 a {
    color: #f7f7f7;
    text-decoration: none;
}


div.hero-main-text {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    padding: 8rem 8rem 14rem 6rem;
}

div.hero-sup-text {
    width: 35%;
    color: #222;
    margin-right: 20rem;

}

div.hero-sup-text h1 {
    color: #222;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}


div.hero-sup-text p {
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, #E028A2, #F0086B);
    padding: .8rem 2.2rem;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    transition: all ease-in-out .2s;
}





.btn:hover {
    box-shadow: none;
    transform: scale(1.1);
    background: linear-gradient(to left, #FFB07E, #ff55b1);
}

.btn:active {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
}


div.hero-sub-text {
    width: 45%;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: monospace;
    line-height: 1.3;
    transform: rotate(-90deg);

}

div.hero-sub-text h2 {
    margin: 0;

}

/* Performers */
.performers-heading {
    font-size: 24px;
    text-align: center;
    font-size: 3.4rem;
    font-family: cursive;
    margin-bottom: 2rem;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    transition: all ease-in-out 0.5s
}

li.cards_item:hover {
    transform: translateY(2rem)
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.cardd {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
}

.card_content {
    padding: 1.5rem 2rem;
    background: linear-gradient(to right, #E028A2, #F0086B);
    height: 12rem;
}

.card_title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}


.icons {
    display: flex;
    justify-content: space-around;
    color: #003f5c;
}

.card-user_details {
    display: flex;
    justify-content: space-between;
}

section#performers {
    padding: 5rem 0
}


.main {
    max-width: 1200px;
    margin: 0 auto;
}



/* Special Artisrt */

section#special-artist {
    display: flex;
    padding: 5rem 10rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


div.special-artist-container {
    width: 23rem;
    height: 28rem;
    background: linear-gradient(to right bottom, #E028A2, #F0086B);
    position: relative;
}



div.special-artist-container img {
    width: 25rem;
    height: 28rem;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 2.2rem;
    left: 2.2rem;
}

.special-artist-bio {
    width: 40%;
}

.special-artist-bio h1 {
    font-size: 5rem;
    font-weight: 800;
    font-family: monospace;
}


.special-artist-bio p {
    font-size: 1.6rem;
}



/* Tickets */

section.pricing-plan {
    padding: 4rem 12rem;
    background: var(--color-main)

}

div.pricing-plan-heading {
    line-height: 1.2;
    letter-spacing: 2px;
    color: #fff;

}

section.pricing-plan h1 {
    font-weight: 800;
    font-size: 4.3rem;
    color: #fff;

}

section.pricing-plan h2 {
    font-weight: 400;
    font-size: 4.5rem;
    color: #fff;
}


section.pricing-plan p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-left: 1.5rem;
    line-height: 1.5;
}

div.price-card-container {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.card {
    background: linear-gradient(to right top, #E028A2, #F0086B);
    width: 32rem;
    height: auto;
    margin-top: 2rem
    
}
div.card:not(:last-of-type) {
    margin-right: 1rem;
}
div.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

div.company-card--top:hover,
div.starter-card--top:hover,
div.advanced-card--top:hover {
    background: linear-gradient(to right, #E028A2, #F0086B);
    cursor: pointer;
}


div.card ul {
    list-style: none;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6rem;
    line-height: 3;
    padding: 2rem;
    color: #fff;
}

.card h3 {
    font-weight: 400;
    font-size: 3.8rem;
    color: #fff;
    text-transform: uppercase;

}

.card h3:first-of-type {
    font-size: 3rem;
}

.btn-card {
    outline: none;
    border: 2px dotted #fff;
    border-radius: 13rem;
    padding: 1.3rem 6rem;
    color: #fff;
    background: linear-gradient(to right top, #E028A2, #F0086B);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out .4s;
    margin-bottom: 2rem;
}


.btn-card:hover {
    transform: translateY(-1rem)
}




















/* Media queries */

@media screen and (max-width: 848px) {
    nav {

    }

@media screen and (max-width: 848px) {
    nav {
        display: block;
    }

    div.nav-main ul {
        padding: inherit;
    }

    div#main-hero {
        margin-top: -8.6rem;
    }

    div.hero-sub-text h2 {
        width: 20rem;
        font-size: 3rem;
        line-height: 1.3;
    }

    div.hero-sup-text {
        width: 48%;

        margin-right: 16rem;
    }

    div.hero-sub-text {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 768px) {
    div.hero-main-text {
        padding: 6rem 6rem;
    }

    div.hero-sup-text {
        width: 48%;
        margin-right: 10rem;
    }

    div.hero-sup-text a {
        padding: .4rem 1.8rem;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .4);
    }

    section#special-artist {
        padding: 0;
    }

    div.price-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 700px) {

    div.nav-main ul li:not(:last-of-type) {
        margin-right: .5rem;
    }

    div.nav-main ul li a {

        margin-right: 1rem;
    }

    div.hero-sub-text {
        margin-top: 19rem;
        width: 20%;

    }

    body {
        padding: 1.5rem;
    }

    div.hero-main-text {
        padding: 4rem 4rem;
    }

    nav {

        padding: 1rem 4rem;

    }
}

@media screen and (max-width: 550px) {

    div.hero-sub-text {
        width: 5rem;
    }

    div.hero-main-text {
        padding: 4rem 2rem;
    }

    nav {
        padding: 1rem 2rem;
    }

    body {
        padding: .4rem;
    }

    section#special-artist {
        flex-direction: column;
        padding: 0 4rem;

    }

    .special-artist-bio {
        width: auto;
        margin: 2.2rem 0;
    }

    .special-artist-bio h1 {
        font-size: 4rem;
    }

    .special-artist-bio p {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 425px) {
    body {
        margin: 0;
        padding: 0;
    }

    div#hero {
        flex-direction: column;
        overflow: hidden;
    }

    div.hero-main-text {
        width: 100vw;
    }

    nav {
        width: 100vw;
        overflow-x: hidden;
    }

    div.nav-main ul {
        justify-content: space-between;
    }

    div.hero-sup-text h1 {
        font-size: 3.2rem;
    }

    div.hero-main-text {
        padding: 2rem;
        overflow-x: hidden;

    }

    div.hero-sub-text {
        width: 16rem;
        margin-top: 5rem;
    }

    div#main-hero {
        width: 100vw;
        height: 55rem;
        position: relative;
        margin-top: 0;
        background-position: top;
        /* overflow-x: hidden; */

    }

    div.hero-sub-text {
        width: 10rem;
        margin-bottom: -12rem;
        margin-left: 10rem;

    }

    div.hero-sub-text h2 {
        width: 20rem;
        font-size: 3rem;
        line-height: 1.3;
    }

    h2 {
        display: inline-block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}



@media screen and (max-width: 375px) {
    div.call-circle {
        width: 8rem;
        height: 8rem
    }

    div.call-circle h2 {
        font-size: 1rem;
    }

    section.pricing-plan {
        padding: 2rem;
    }
}


@media screen and (max-width: 320px) {
    .card {
        width: 29rem;
    }

    section.pricing-plan {
        padding: 1rem 1rem;
    }

    div.pricing-plan-heading {
        line-height: 1.41;
        letter-spacing: 0;
    }

}